<<<<<<< HEAD
.profile_div img{
    max-width: 56px ;
    border-radius: 50%;
    border: 1px solid #111; 
    

=======
.profile_div img{
    max-width: 56px ;
    border-radius: 50%;
    border: 1px solid #111; 
    

>>>>>>> 2b75ad780bd9e2ce699ef4f15447aa095bcda7be
}